@charset "UTF-8";
ul.tag-cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;
}
ul.tag-cloud a {
  display: block;
  font-size: 1.5rem;
  padding: 0.125rem 0.25rem;
  text-decoration: none;
  position: relative;
  --size: 4;
  font-size: calc(var(--size) * 0.12rem + 0.4rem);
  opacity: calc((15 - (10 - var(--size))) / 15);
}

ul.tag-cloud a[data-weight="1"] {
  --size: 1;
}

ul.tag-cloud a[data-weight="2"] {
  --size: 2;
}

ul.tag-cloud a[data-weight="3"] {
  --size: 3;
}

ul.tag-cloud a[data-weight="4"] {
  --size: 4;
}

ul.tag-cloud a[data-weight="5"] {
  --size: 5;
}

ul.tag-cloud a[data-weight="6"] {
  --size: 6;
}

ul.tag-cloud a[data-weight="7"] {
  --size: 7;
}

ul.tag-cloud a[data-weight="8"] {
  --size: 8;
}

ul.tag-cloud a[data-weight="9"] {
  --size: 9;
}

ul.tag-cloud a[data-weight="10"] {
  --size: 10;
}

:root {
  box-sizing: border-box;
  font-size: 0.8em;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 游ゴシック, Arial, sans-serif;
  background-color: #282828;
  color: #fbf1c7;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-size: 1rem;
}

h3, h4, h5, h6 {
  font-size: 1rem;
  color: #fb4934;
}

.year__link {
  color: #d79921;
}
.year__link:hover {
  background-color: #523b0d;
}

.month__link {
  color: #fabd2f;
}
.month__link:hover {
  background-color: #422f02;
}

.tag__link {
  color: #b8bb26;
}
.tag__link:hover {
  background-color: #3b3c0c;
}

.date {
  color: #928374;
}

.container {
  width: 100%;
  margin: 0;
}

.header {
  position: fixed;
  top: 0em;
  width: 100%;
  height: 3em;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-flow: center;
  background-color: #282828;
}
.header__site-title {
  display: block;
  margin: auto 0 auto 0.8em;
  color: #83a598;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.header__link {
  color: #83a598;
}
.header__link:hover {
  background-color: #31443d;
}

@media (min-width: 48em) {
  .header {
    position: fixed;
    top: 0em;
    left: 0;
    margin: 0 auto;
    width: calc(50vw - 18em);
    height: auto;
    padding-right: 2em;
    text-align: right;
  }
  .header__site-title {
    margin: 0.8em 0 0.8em auto;
  }
}
.main {
  margin: 3em 1em 0em 1em;
  min-height: calc(100vh - 7em - 3em);
}
.main__link {
  color: #83a598;
}
.main__link:hover {
  background-color: #31443d;
}
.main__post {
  margin-bottom: 20em;
}
.main__years {
  margin-top: 1em;
  list-style-type: none;
  padding-inline-start: 0;
}
.main__year-item {
  margin-top: 3em;
}
.main__year-item:first-child {
  margin-top: 1.5em;
}
.main__months {
  margin-top: 1em;
  list-style-type: none;
  padding-inline-start: 0;
}
.main__month-item {
  margin-top: 1em;
}
.main__posts {
  margin-top: 0.5em;
  list-style-type: none;
  padding-inline-start: 0;
}
.main__post-item {
  margin-top: 0.5em;
}
.main__inline-code {
  padding: 0 0.4em;
  border-radius: 0.2em;
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  color: #fe8019;
  background-color: #1d2021;
}

@media (min-width: 48em) {
  .main {
    margin: 0 0 0 calc(50vw - 18em);
    width: 48em;
    padding: 1em 1em 1.5em 0;
    min-height: calc(100vh - 7em);
  }
  .main__title {
    margin-top: 0;
  }
}
.post__title {
  margin-top: 0;
  margin-bottom: 0.67em;
}

.post-meta {
  margin-top: 0;
  display: flex;
  list-style-type: none;
}
.post-meta__tag-list {
  margin-left: auto;
}

.tag-list {
  margin-top: 0;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  align-items: right;
  list-style-type: none;
}
.tag-list__tag {
  margin-top: 0;
  padding: 0 0.5em;
}

.post-item__date {
  margin-left: 1em;
}

.menu {
  position: fixed;
  top: 3em;
  margin-top: 0;
  width: 100%;
  background-color: #3c3836;
}
.menu__toggle {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: -1.2em;
  right: 0.1em;
  font-size: 2em;
  width: 1em;
  height: 1em;
  line-height: 0.4;
  text-indent: 5em;
  white-space: nowrap;
  overflow: hidden;
}
.menu__toggle::after {
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  display: block;
  content: "≡";
  text-indent: 0;
  color: #83a598;
}
.menu__dropdown {
  display: none;
  margin-top: 0;
}
.menu__dropdown--open {
  display: block;
  max-height: 70vh;
  overflow-y: auto;
}

@media (min-width: 48em) {
  .menu {
    position: fixed;
    top: 3em;
    bottom: 0;
    left: 0;
    width: calc(50vw - 18em);
    text-align: right;
    background-color: transparent;
  }
  .menu__toggle {
    display: none;
  }
  .menu__dropdown {
    display: block;
    height: 100%;
    overflow-y: auto;
  }
}
.site-nav {
  margin-left: 0;
  list-style-type: none;
  padding-inline-start: 1em;
}
.site-nav__item {
  margin-top: 1.5em;
}
.site-nav__item:first-child {
  margin-top: 0;
}
.site-nav__link {
  display: block;
  color: #83a598;
  text-transform: uppercase;
}
.site-nav__link:hover {
  background-color: #31443d;
}

@media (min-width: 48em) {
  .site-nav {
    margin-right: 2em;
  }
  .site-nav__link {
    display: inline;
  }
}
.related-nav {
  margin-left: 0;
  list-style-type: none;
  padding-inline-start: 1em;
}
.related-nav__year {
  margin-top: 1em;
}
.related-nav__months {
  margin-top: 1em;
  list-style-type: none;
}
.related-nav__month {
  margin-top: 1em;
}
.related-nav__posts {
  margin-top: 0.5em;
  list-style-type: none;
  padding-inline-start: 0;
}
.related-nav__post {
  margin-top: 0.5em;
}
.related-nav__post:first-child {
  margin-top: 0em;
}
.related-nav__link {
  color: #83a598;
}
.related-nav__link:hover {
  background-color: #31443d;
}

@media (min-width: 48em) {
  .related-nav {
    margin-right: 2em;
    margin-bottom: 7em;
  }
}
@media (min-width: 48em) {
  .tag-cloud {
    margin-right: 2em;
    margin-left: auto;
    max-width: 20em;
  }
}
.footer {
  text-align: center;
  margin-top: 0;
  height: 7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__paragraph {
  margin-top: 0;
}
.footer__paragraph:first-child {
  margin-top: 1em;
}
.footer__link {
  color: #83a598;
}
.footer__link:hover {
  background-color: #31443d;
}

@media (min-width: 48em) {
  .footer {
    margin-left: calc(50vw - 18em);
    text-align: left;
  }
}