{% extends "layout.njk" %}

{% block post_meta %}
  <div class="post-meta">
    {% timeTagForDate date, "long", "post-meta__date" %}
    {% tagList tags | except("blog"), "post-meta__tag-list" %}
  </div>
{% endblock %}

{% block related_nav %}
  <ul class="related-nav">
    {%- for yearlyItem in collections.years -%}
      {% set year = yearlyItem.year %}
      {% if page.date.getFullYear() == year %}
        <li class="related-nav__year">{% timeTagForYear year %}
          <ul class="related-nav__months">
        {% set yearlyPosts = yearlyItem.monthlyPosts %}
        {%- for monthlyItem in yearlyPosts -%}
          {%- set month = monthlyItem.month -%}
          {%- set monthlyPosts = monthlyItem.posts -%}
          <li class="related-nav__month">{% timeTagForMonth year, month, false %}
          <ul class="related-nav__posts">
          {%- for post in monthlyPosts -%}
            <li class="related-nav__post"><a class="related-nav__link" href="{{ post.url }}">{{ post.data.title }}</a></li>
          {%- endfor -%}
          </ul>
          </li>
        {%- endfor -%}
          </ul>
        </li>
      {% else %}
        <li class="related-nav__year">{% timeTagForYear year %}</li>
      {% endif %}
    {%- endfor -%}
  </ul>
{% endblock %}
