{% extends 'layout.njk' %}

{% block post_meta %}
  <div class='post-meta'>
    {% timeTagForDate date %}
    {% tagList tags | except("blog") %}
  </div>
{% endblock %}

{% block related_nav %}
  <ul class="related-nav">
    {%- for yearlyItem in collections.years -%}
      {% set year = yearlyItem.year %}
      {% if page.date.getFullYear() == year %}
        <li>{% timeTagForYear year %}
          <ul class="months">
        {% set yearlyPosts = yearlyItem.monthlyPosts %}
        {%- for monthlyItem in yearlyPosts -%}
          {%- set month = monthlyItem.month -%}
          {%- set monthlyPosts = monthlyItem.posts -%}
          <li>{% timeTagForMonth year, month, false %}
          <ul class="posts">
          {%- for post in monthlyPosts -%}
            <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
          {%- endfor -%}
          </ul>
          </li>
        {%- endfor -%}
          </ul>
        </li>
      {% else %}
        <li>{% timeTagForYear year %}</li>
      {% endif %}
    {%- endfor -%}
  </ul>
{% endblock %}
