@use 'gruvbox' as theme with (
  $is-dark: true
);
@use 'tag-cloud' with (
  $use-tag-cloud-specific-color: false
);

$root-font-size-coefficient: 0.8;
$min-two-column-width: $root-font-size-coefficient * 60em;
$font: 游ゴシック, Arial, sans-serif;

:root {
  box-sizing: border-box;
  font-size: $root-font-size-coefficient * 1em;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $font;
  background-color: theme.$bg0;
  color: theme.$fg0;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-size: 1rem;
}

h3, h4, h5, h6 {
  font-size: 1rem;
  color: theme.$red;
}


// Links
.year__link {
  color: theme.$neutral-yellow;
  &:hover {
    background-color: darken(theme.$neutral-yellow, 30%);
  }
}

.month__link {
  color: theme.$yellow;
  &:hover {
    background-color: darken(theme.$yellow, 45%);
  }
}

.tag__link {
  color: theme.$tag;
  &:hover {
    background-color: darken(theme.$tag, 30%);
  }
}


// Date
.date {
  color: theme.$gray;
}


$main-width: 48em;
$main-left-width: 18em;
$nav-ratio: calc(50vw - $main-left-width);
$footer-height: 7em;

.container {
  width: 100%;
  margin: 0;
}

.header {
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0em;
  background-color: theme.$bg0;

  &__site-title {
    color: theme.$title;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin: 0.7em 1em 0.7em 0.8em;
  }

  &__link {
    color: theme.$menu;
    &:hover {
      background-color: darken(theme.$link, 35%);
    }
  }
}

@media (min-width: $min-two-column-width) {
  .header {
    position: fixed;
    top: 0em;
    left: 0;
    margin: 0 auto;
    width: $nav-ratio;
    padding-right: 1em;
    text-align: right;

    &__site-title {
      margin-top: 1rem;
      margin-right: 0em;
    }
  }
}

.main {
  margin: 3em 1em 0em 1em;
  min-height: calc(100vh - $footer-height - 3em); // 3em is margin-top
  &__link {
    color: theme.$menu;
    &:hover {
      background-color: darken(theme.$link, 35%);
    }
  }

  &__post {
    margin-bottom: 20em;
  }


  &__years {
    margin-top: 1em;
    list-style-type: none;
    padding-inline-start: 0;
  }

  &__year-item {
    margin-top: 3em;
    &:first-child {
      margin-top: 1.5em;
    }
  }

  &__months {
    margin-top: 1em;
    list-style-type: none;
    padding-inline-start: 0;
  }

  &__month-item {
    margin-top: 1em;
  }

  &__posts {
    margin-top: 0.5em;
    list-style-type: none;
    padding-inline-start: 0;
  }

  &__post-item {
    margin-top: 0.5em;
  }
}

@media (min-width: $min-two-column-width) {
  .main {
    margin: 0 0 0 $nav-ratio;
    width: $main-width;
    padding: 1em 1em 1.5em 0;
    min-height: calc(100vh - $footer-height);
    &__title {
      margin-top: 0;
    }
  }
}

.post__title {
  margin-top: 0;
  margin-bottom: 0.67em;
}

.post-meta {
  margin-top: 0;
  display: flex;
  list-style-type: none;

  &__tag-list {
    margin-left: auto;
  }
}

.tag-list {
  margin-top: 0;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  align-items: right;
  list-style-type: none;

  &__tag {
    margin-top: 0;
    padding: 0 0.5em;
  }
}


.post-item__date {
  margin-left: 1em;
}



.menu {
  position: fixed;
  top: 3em;
  margin-top: 0;
  width: 100%;
  background-color: theme.$bg1;

  &__toggle {
    // Override user agent button styles
    border: 0;
    background-color: transparent;

    position: absolute;
    top: -1.2em;
    right: 0.1em;

    font-size: 2em;
    width: 1em;
    height: 1em;
    line-height: 0.4;
    text-indent: 5em;
    white-space: nowrap;
    overflow: hidden;

    &::after {
      position: absolute;
      top: 0.2em;
      left: 0.2em;
      display: block;
      content: "\2261";
      text-indent: 0;
      color: theme.$link;
    }
  }

  &__dropdown {
    display: none;
    margin-top: 0;
  }

  &__dropdown--open {
    display: block;
    max-height: 70vh;
    overflow-y: auto;
  }
}

@media (min-width: $min-two-column-width) {
  .menu {
    position: fixed;
    top: 3em;
    bottom: 0;
    left: 0;
    width: $nav-ratio;
    text-align: right;
    background-color: transparent;

    &__toggle {
      display: none;
    }

    &__dropdown {
      display: block;
      height: 100%;
      overflow-y: auto;
    }
  }
}



.site-nav {
  margin-left: 0;
  list-style-type: none;
  padding-inline-start: 1em;

  &__item {
    margin-top: 1.5em;
    &:first-child {
      margin-top: 0;
    }
  }

  &__link {
    color: theme.$menu;
    text-transform: uppercase;
    &:hover {
      background-color: darken(theme.$link, 35%);
    }
  }
}

@media (min-width: $min-two-column-width) {
  .site-nav {
    margin-right: 1em;
  }
}



.related-nav {
  margin-left: 0;
  list-style-type: none;
  padding-inline-start: 1em;

  &__year {
    margin-top: 1em;
  }

  &__months {
    margin-top: 1em;
    list-style-type: none;
  }

  &__month {
    margin-top: 1em;
  }

  &__posts {
    margin-top: 0.5em;
    list-style-type: none;
    padding-inline-start: 0;
  }

  &__post {
    margin-top: 0.5em;
    &:first-child {
      margin-top: 0em;
    }
  }

  &__link {
    color: theme.$menu;
    &:hover {
      background-color: darken(theme.$link, 35%);
    }
  }
}

@media (min-width: $min-two-column-width) {
  .related-nav {
    margin-right: 1em;
    margin-bottom: $footer-height;
  }
}



@media (min-width: $min-two-column-width) {
  .tag-cloud {
    margin-right: 1em;
    margin-left: auto;
    max-width: 20em;
  }
}



.footer {
  text-align: center;
  margin-top: 0;
  height: 7em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__paragraph {
    margin-top: 0;
    &:first-child {
      margin-top: 1em;
    }
  }

  &__link {
    color: theme.$link;
    &:hover {
      background-color: darken(theme.$link, 35%);
    }
  }
}

@media (min-width: $min-two-column-width) {
  .footer {
    margin-left: $nav-ratio;
    text-align: left;
  }
}
