@use 'gruvbox' as theme with (
  $is-dark: true
);

$root-font-size-coefficient: 0.8;
$min-two-column-width: $root-font-size-coefficient * 60em;
$font: 游ゴシック, Arial, sans-serif;

:root {
  box-sizing: border-box;
  font-size: $root-font-size-coefficient * 1em;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $font;
  background-color: theme.$bg0;
  color: theme.$fg0;
}

body * + * {
  margin-top: 1.5em;
}

a {
  color: theme.$link;
  text-decoration: none;
  &:hover {
    // text-decoration: underline;
    background-color: darken(theme.$link, 35%);
  }
}

h1, h2 {
  color: theme.$link;
  font-size: 1rem;
  margin-top: 2em;
  margin-bottom: 0;
}

h3, h4, h5, h6 {
  font-size: 1rem;
  border-top: 1px solid theme.$link;
}

.container {
  width: 100%;
  margin: 0;
}

$main-width: 48em;
$main-left-width: 18em;
$nav-ratio: calc(50vw - $main-left-width);
$footer-height: 7em;

.page-header {
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0em;
  background-color: theme.$bg0;
  h1, h2 {
    color: theme.$title;
    font-size: 1rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin: 1em;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    margin-left: 0.8em;
  }
}

@media (min-width: $min-two-column-width) {
  .page-header {
    position: fixed;
    top: 0em;
    left: 0;
    margin: 0 auto;
    width: $nav-ratio;
    padding-right: 1em;
    text-align: right;
    h1, h2 {
      margin-top: 1rem;
      margin-right: 0em;
    }
  }
}

main {
  margin: 3em 1em 0em 1em;
  min-height: calc(100vh - $footer-height - 3em); // 3em is margin-top
  h1:first-child, h2:first-child {
    margin-top: 0;
  }
}

@media (min-width: $min-two-column-width) {
  main {
    margin: 0 0 0 $nav-ratio;
    width: $main-width;
    padding: 1em 1em 1.5em 0;
    min-height: calc(100vh - $footer-height);
  }
}


.menu {
  position: fixed;
  top: 3em;
  margin-top: 0;
  width: 100%;
  background-color: theme.$bg1;
}
.menu-toggle {
  // Override user agent button styles
  border: 0;
  background-color: transparent;

  position: absolute;
  top: -1.2em;
  right: 0.1em;

  font-size: 2em;
  width: 1em;
  height: 1em;
  line-height: 0.4;
  text-indent: 5em;
  white-space: nowrap;
  overflow: hidden;

  &::after {
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    display: block;
    content: "\2261";
    text-indent: 0;
    color: theme.$link;
  }
}
.menu-dropdown {
  display: none;
  margin-top: 0;
}
.menu.is-open .menu-dropdown {
  display: block;
  max-height: 70vh;
  overflow-y: auto;
}

@media (min-width: $min-two-column-width) {
  .menu {
    position: fixed;
    top: 3em;
    bottom: 0;
    left: 0;
    width: $nav-ratio;
    text-align: right;
    background-color: transparent;
  }
  .menu-toggle {
    display: none;
  }
  .menu-dropdown {
    display: block;
    height: 100%;
    overflow-y: auto;
  }
}

.site-nav {
  margin-left: 0;
  list-style-type: none;
  a {
    color: theme.$menu;
  }
}
.site-nav > li {
  text-transform: uppercase;
}

ul.site-nav, ul.related-nav {
  padding-inline-start: 1em;
}

.related-nav {
  margin-left: 0;
  list-style-type: none;
  a {
    color: theme.$menu;
  }
  > li {
    margin-top: 0.5em;
  }
}

@media (min-width: $min-two-column-width) {
  .site-nav {
    margin-right: 1em;
  }
  .related-nav {
    margin-right: 1em;
  }
}

footer {
  text-align: center;
  margin-top: 0;
  height: 7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p + p {
    margin-top: 0;
  }
}

@media (min-width: $min-two-column-width) {
  footer {
    margin-left: $nav-ratio;
    text-align: left;
  }
}

a.date {
  color: theme.$red;
}
