@use 'gruvbox' as theme with (
  $is-dark: true
);

// $min-two-column-width: 64em;
$min-two-column-width: 60em;
$font: 游ゴシック, Arial, sans-serif;

:root {
  box-sizing: border-box;
  font-size: calc(0.5em + 1vw);
}

@media (min-width: 50em) {
  :root {
    font-size: 0.8em;
  }
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $font;
  background-color: theme.$bg0;
  color: theme.$fg0;
}

body * + * {
  margin-top: 1.5em;
}

a {
  color: theme.$link;
  text-decoration: none;
  &:hover {
    // text-decoration: underline;
    background-color: darken(theme.$link, 35%);
  }
}

.container {
  width: 100%;
  margin: 0;
  // background-color: theme.$bg2;
}

@media(min-width: $min-two-column-width) {
  .container {
    // margin: 0 auto;
  }
}

// $nav-ratio: 25%;
// $nav-ratio: calc(50vw - 16em);
// $main-width: 48em;
// $main-left-width: 16em;
// $main-width: 53em;
// $main-left-width: 21em;
$main-width: 48em;
$main-left-width: 18em;
$nav-ratio: calc(50vw - $main-left-width);

.page-header {
  width: 100%;
  // max-width: 880px;
  // margin: 0 auto;
  // margin: 0 1em;
  margin: 0;
  position: fixed;
  top: 0em;
  // height: 1em;
  background-color: theme.$bg0;
  // background-color: red;
  // padding-left: 1em;
}

@media (min-width: $min-two-column-width) {
  .page-header {
    position: fixed;
    top: 0em;
    left: 0;
    margin: 0 auto;
    width: $nav-ratio;//30%;
    // height: 1em;
    padding-right: 1em;
    text-align: right;
  }
}

main {
  // min-height: 1000px;
  // min-height: 100vh;
  margin: 3em 1em 0em 1em;
  min-height: calc(100vh - 11.5em);
}

@media (min-width: $min-two-column-width) {
  main {
    margin-top: 1em;
    margin-left: $nav-ratio;
    margin-right: 1em;
    margin-bottom: 0;
    width: $main-width;
    padding-right: 1em;
    // overflow-wrap: break-word;
    min-height: calc(100vh - 9.5em);
  }
}


h1 {
  color: theme.$title;
  font-size: 1rem;
  // font-size: 1.25rem;
  text-transform: uppercase;
  margin: 1em;
}

@media (min-width: $min-two-column-width) {
  h1 {
    margin-right: 0em;
  }
}

.menu {
  position: fixed;
  top: 3em;
  margin-top: 0;
  width: 100%;
  // background-color: blue;
  background-color: theme.$bg1;
}
.menu-toggle {
  // Override user agent button styles
  border: 0;
  background-color: transparent;

  position: absolute;
  top: -1.2em;
  right: 0.1em;

  font-size: 2em;
  width: 1em;
  height: 1em;
  line-height: 0.4;
  text-indent: 5em;
  white-space: nowrap;
  overflow: hidden;

  &::after {
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    display: block;
    content: "\2261";
    text-indent: 0;
    color: theme.$link;
  }
}
.menu-dropdown {
  display: none;
  margin-top: 0;
}
.menu.is-open .menu-dropdown {
  display: block;
  max-height: 70vh;
  overflow-y: auto;
}

@media (min-width: $min-two-column-width) {
  .menu {
    position: fixed;
    top: 3em;
    bottom: 0;
    left: 0;
    // width: 30%;
    width: $nav-ratio;
    // width: 25em;
    // right: 70%;
    text-align: right;
    background-color: transparent;
  }
  .menu-toggle {
    display: none;
  }
  .menu-dropdown {
    display: block;
    height: 100%;
    overflow-y: auto;
  }
}

.site-nav {
  margin-left: 0;
  list-style-type: none;
  a {
    color: theme.$menu;
  }
}
.site-nav > li {
  text-transform: uppercase;
}

ul.site-nav, ul.sub-nav {
  padding-inline-start: 1em;
}

.sub-nav {
  margin-left: 0;
  list-style-type: none;
  a {
    color: theme.$menu;
  }
  > li {
    margin-top: 0.5em;
    // margin-bottom: 1em;
  }
}

@media (min-width: $min-two-column-width) {
  .site-nav {
    margin-right: 1em;
  }
  .sub-nav {
    margin-right: 1em;
    // background-color: transparent;
  }
}
footer {
  text-align: center;
  // background-color: theme.$bg2; // for debug
  height: 7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p + p {
    margin-top: 0;
  }
}

@media (min-width: $min-two-column-width) {
  footer {
    margin-left: $nav-ratio;
    text-align: left;
  }
}

h2 {
  color: theme.$link;
  font-size: 1rem;
}
h3, h4, h5, h6 {
  // color: theme.$red;
  font-size: 1rem;
  // &::before {
  //   content: '===========================================================================================';
  //   color: theme.$link;
  //   width: 100%;
  //   overflow-x: hidden;
  //   display: block;
  // }
  border-top: 1px solid theme.$link;
}

a.date {
  color: theme.$red;
}
