---
pagination:
  data: collections.tags
  size: 1
  alias: tag
permalink: "{{ tag.name | tagNameToFilePath }}"
eleventyComputed:
  title: "Tag: {{ tag.name }}"
layout: 'layout.njk'
---
<ul class="main__posts">
  {%- for post in tag.posts -%}
    <li class="main__post-item">{% linkToPost post %} {% timeTagForDate post.date, "short", "post-item__date" %}</li>
  {%- endfor -%}
</ul>
