---
pagination:
  data: collections.years
  size: 1
  alias: thisYear
permalink: "{{ thisYear.year }}/index.html"
eleventyComputed:
  title: "{{ thisYear.year }}"
layout: layout.njk
---
{%- set year = thisYear.year -%}
<ul class="main__months">
  {%- for monthData in thisYear.monthlyPosts -%}
    {%- set month = monthData.month -%}
    {%- set posts = monthData.posts -%}
    <li class="main__month-item">
      {% timeTagForMonth year, month %}
      <ul class="main__posts">
        {%- for post in posts -%}
          <li class="main__post-item post-item">{% linkToPost post %} {% timeTagForDate post.date, "short", "post-item__date" %}</li>
        {%- endfor -%}
      </ul>
    </li>
  {%- endfor -%}
</ul>
